
{% extends "base.html" %}

{% block content %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <form action="./modify" method="post">
        <!-- <div class="form-row">
            <div class="col-3">
                <label for="email">UID:</label>
                <input type="text" class="form-control" id="email" name="uid">
            </div>
        </div>
        <div class="form-row">
            <div class="col-3">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="pwd">
            </div>
        </div>
        <div>
            <br>
        </div> -->
        <div class="row">
            <div class="col-1">

            </div>
            
            <div class="col-1">
                <button type="request" class="btn btn-primary"> modify </button>
            </div>
        </div>
        
    </form>
    <form action="./request" method="GET">
    <br>    
    <div class="row">
        
        <div class="col-1">
    
        </div>
    
        <div class="col-1">
            <button type="request" class="btn btn-primary">request</button>
           
        </div>  

    </div>
    </form>

    <form action="./notein" method="GET">
        <br>    
        <div class="row">
            
            <div class="col-1">
        
            </div>
        
            <div class="col-1">
                <button type="request" class="btn btn-primary">notein</button>
               
            </div>  
    
        </div>
        </form>



        <form action="./noteout" method="GET">
            <br>    
            <div class="row">
                
                <div class="col-1">
            
                </div>
            
                <div class="col-1">
                    <button type="request" class="btn btn-primary">noteout</button>
                   
                </div>  
        
            </div>
            </form>
    

 {% endblock %}
