{% extends "base.html" %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script>
    function check() {
        if (document.getElementById('password').value ==
            document.getElementById('cnfpassword').value) {
            document.getElementById('cnfpassword').style.color = 'blue';
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('cnfpassword').style.color = 'red';
            document.getElementById('submit').disabled = true;

        }
    }
</script>
<div class="container">
    <form class="form-horizontal" role="form" action="./register" method="post">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" name="name" placeholder="First Name" class="form-control" autofocus >
            </div>
        </div>
        
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password*</label>
            <div class="col-sm-9">
                <input type="password" id="password" placeholder="Password" class="form-control" name="pass" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
            <div class="col-sm-9">
                <input type="password" id="cnfpassword" style="color: blue" placeholder="Password" class="form-control" name="pwd" onkeyup="check()"; required>
            </div>
            
        </div>
        
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
            <div class="col-sm-9">
                <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control" name="phno" required>
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <text style="color: crimson;margin-inline-start: 400px "> * note that personal profile would be edited/added later on </text>
        <br><br>
        <button type="submit" class="btn btn-primary btn-block" id="submit">Register</button>
    </form> <!-- /form -->
    
</div> <!-- ./container -->

{% endblock %}