{% extends "base.html" %}

{% block content %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- q -->
<!--  -->
<div class="form-row">
    <div class="col-1">
        owner
        <!-- <input type="text" class="form-control" id="email" name="owner" value={{default}}> -->
    </div>
    <div class="col-1">
        p-name
        <!-- <input type="text" class="form-control" id="email" name="name"> -->
    </div>
    <div class="col-1">
        price
        <!-- <input type="text" class="form-control" id="email" name="price"> -->
    </div>
    <div class="col-1">
        status
        <!-- <input type="text" class="form-control" id="email" name="status"> -->
    </div>
    <div class="col-1">
        location
        <!-- <input type="text" class="form-control" id="email" name="location"> -->
    </div>
    <div class="col-1">
        current holder
        <!-- <input type="text" class="form-control" id="email" name="holder"> -->
    </div>

    <div class="col-1">

        <!-- <button type="submit" class="btn btn-primary"> Submit_ </button> -->
    </div>
</div>

{% for i in range(0,len)%}
<li>
    <form action="./modify{{i}}" method="post">
        <div class="form-row">
            <div class="col-1">
                <input type="text" class="form-control" id="email" name="owner" value={{prods[i]["owner"]}} {{flag1}}>
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="email" name="name" value={{prods[i]["name"]}} {{flag2}}>
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="email" name="price" value={{prods[i]["price"]}} {{flag3}}>
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="email" name="status" value={{prods[i]["status"]}} {{flag4}}>
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="email" name="location" value={{prods[i]["location"]}}
                    {{flag5}}>
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="email" name="holder" value={{current}} {{flag6}}>
            </div>

            <div class="col-1">
                <button type="submit" class="btn btn-primary"> Submit_ </button>
            </div>
        </div>

    </form>
</li>
{%endfor%}
<br><br>
{% endblock%}


